# File to configure Spring cloud config server
server:
  port: 8888

spring:

  application:
    name: zuul-config

  profiles:
    active: native

  cloud:
    config:
      server:
        native:
          searchLocations: classpath:/config

  boot:
    admin:
      client:
        url: 'http://localhost:8090'

management:
  endpoints:
    web:
      exposure:
        include: '*'