# Application properties for Service

server:
  port: 0

eureka:
  client:
    registerWithEureka: true
    fetchRegistry: false
    serviceUrl:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka}
  instance:
    hostname: localhost
    prefer-ip-address: true
    lease-renewal-interval-in-seconds: 10
    lease-expiration-duration-in-seconds: 20
    instanceId: ${spring.application.name}:${spring.application.instance_id:${random.value}}

dynamic-property:
  name: Mukesh

spring:
  boot:
    admin:
      client:
        url: ${ADMIN_SERVER_URL:http://localhost:8090}

management:
  endpoints:
    web:
      exposure:
        include: '*'

